# /Lectures
/homework/hw0/hw0_starter_code/movielens_data
/homework/hw1/hw1_starter_code/omniglot_resized
/homework/hw1/hw1_starter_code/omniglot_resized.zip
/homework/hw2/starter/omniglot_resized
/homework/hw2/starter/omniglot_resized.zip
/slides_with_notes_and_annotations
/homework/hw0/hw0_starter_code/run
/homework/hw1/hw1_starter_code/runs
/homework/hw2/starter/logs
/homework/hw3/__pycache__
